.textfield{
    -fx-text-box-border: #9A9A9A;
    -fx-focus-color: darkslateblue;
}

.plusButton{
    -fx-background-color: linear-gradient(to bottom, #45A6FB, #3784C8);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 5, 0, 2, 2);
}

.plusButton:pressed{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.0), 0, 0, 0, 0);
    -fx-background-color: #3784C8;
}

.minusButton{
    -fx-background-color: linear-gradient(to bottom, #FF2929, #D22121);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 5, 0, 2, 2);
}
.minusButton:pressed{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.0), 0, 0, 0, 0);
    -fx-background-color: #D22121;
}