.textfield{
    -fx-text-box-border: #9A9A9A;
    -fx-focus-color: darkslateblue;
}
#mainLayout {
    -fx-padding: 10 10 10 10;
}

.root {
    -fx-background-color: #9A9A9A;
}

.label {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Sans-Serif";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0, 2, 2);
}

.button {
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-family: "Sans-Serif";
}

.plusButton{
    -fx-background-color: linear-gradient(to bottom, #45A6FB, #3784C8);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0, 2, 2);
}

.plusButton:pressed{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.0), 0, 0, 0, 0);
    -fx-background-color: #3784C8;
}

.minusButton{
    -fx-background-color: linear-gradient(to bottom, #FF2929, #D22121);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0, 2, 2);
}

.minusButton:pressed{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.0), 0, 0, 0, 0);
    -fx-background-color: #D22121;
}